"*":
  "exception-reporting":
    userId: "9f05ef31-58cd-77e4-f466-08cfa62f449e"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
  editor:
    invisibles: {}
    tabType: "soft"
  term2:
    autoRunCommand: "login -f `whoami`"
  "atom-typescript": {}
  linter:
    showErrorPanel: false
  term3:
    colors:
      foreground:
        red: 0
        green: 0
        blue: 0
        alpha: 1
      background:
        red: 255
        green: 255
        blue: 255
        alpha: 1
  "autocomplete-plus": {}
  "linter-tslint": {}
